<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Netlify Gateway Server</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/solid.min.css" />
		<style>
			.sidebar { position: fixed; top: 0; bottom: 0; left: 0; z-index: 100; padding: 48px 0 0; box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1); }
			.sidebar .nav-link { font-weight: 500; color: #333; }
			.sidebar .nav-link .icon { width: 1.25em; margin-right: 4px; color: #999; text-align: center; }
			.sidebar .nav-link.active { color: #007bff; }
			.sidebar .nav-link:hover .icon, .sidebar .nav-link.active .icon { color: inherit; }
			.sidebar-heading { font-size: .75rem; text-transform: uppercase; }
			[role="main"] { padding-top: 133px; }
			@media (min-width: 768px) {
				[role="main"] { padding-top: 48px; }
			}
			.navbar-brand { padding-top: .75rem; padding-bottom: .75rem; font-size: 1rem; background-color: rgba(0, 0, 0, .25); box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25); }

			.data-table .fas { font-size: larger; }
			.action-button { border: none; background: none; opacity: 0.1; transition: opacity 0.2s; padding: 5px 5px; margin: 0 5px; }
			.action-button:hover { opacity: 0.75 !important; }
			.action-button:focus { outline: 2px solid #999; opacity: 1 !important; }
			.data-table tbody tr { height: 44px; }
			.data-table td { vertical-align: middle; }
			.data-table tr:hover .action-button { opacity: 0.25; }
		</style>
	</head>
	<body>
		<%- include('topbar.ejs') %>
		<div class="container-fluid">
			<div class="row">
				<% if (user && user.isAdmin) { %>
					<%- include('navpane.ejs') %>
					<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
				<% } else { %>
					<main role="main" class="ml-sm-auto col px-4">
				<% } %>
