<%- include('../partials/header.ejs', { page: 'error' }) %>

<div class="text-center mt-5">
	<h1 class="h2 mt-3">Error</h1>
	
	<p class="lead">
		We are sorry.
	</p>
</div>

<%- include('../partials/footer.ejs') %>
