<%- include('../partials/header.ejs', {loggedIn: false, page: ''}) %>

<div class="text-center mt-5">
	<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
	<a class="btn btn-l btn-primary" href="/login">Sign in</a>
</div>

<%- include('../partials/footer.ejs') %>
