<%- include('../partials/header.ejs', { page: '' }) %>

<h1 class="h2 mt-3">Welcome back!</h1>
<p class="lead">
	Choose your action.<br />Your available sites will appear here soon.
</p>

<%- include('../partials/footer.ejs') %>
