<%- include('../partials/header.ejs', { page: '' }) %>

<h1 class="h2 mt-3">Welcome back!</h1>
<p class="lead">
	<% if (user.sites && user.sites.length) { %>
		Your available websites for editing are:
	<% } else { %>
		There aren't any websites available for editing yet.
	<% } %>
</p>
<p>
	<ul>
		<% for (var site of user.sites || []) { %>
			<li>
				<a href="https://<%=site.domain %>/admin/"><%=site.domain %></a>
			</li>
		<% } %>
	</ul>
</p>

<%- include('../partials/footer.ejs') %>
